body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  font-style: normal;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;

  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header .accent {
  color: #2e2f42;
}

.header-list-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-list-link:hover {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}

.link:active {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}

.address-list-link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.address-list-link:hover {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}

.hero {
  background: #2e2f42;
}
.hero-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;

  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.hero-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
}

.hero-btn:hover {
  background: #404bbf;
}

.subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;

  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.sublogo {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;

  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.subtext {
  font-family: "Roboto", sans-serif;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.footer {
  background: #2e2f42;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;

  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer .accent {
  color: #f4f4fd;
}

.footer-text {
  font-family: "Roboto", sans-serif;

  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
